@media screen and (max-width:1280px) {
    .statystic__startup {
        margin-right: 30px
    }
}
@media screen and (max-width:1023px) {
    .statystic__startup-grid {
        column-gap: 30px
    }
    .statystic__sites-grid {
        column-gap: 30px
    }
}





@media screen and (max-width:768px) {
    .page__wrapper {
        background-image: url(../images/back_intro_green_mobile.png)
    }
    .header__logo {
        max-width: 87px;
        max-height: 71x;
        margin: 20px 0 0 6.3%
    }
    .header__menu {
        display: none
    }
    .header__menu-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 154px;
        left: 0;
        align-items: flex-start;
        margin-left: 6.3%;
        z-index: 100
    }
    .header__menu-list-link {
        margin: 0 0 18px 0
    }

    .header__menu-list-link:last-child {
        margin-top: 17px
    }
    .header__menu-link {
        font-size: 14px;
        line-height: 19px
    }
    .intro__header {
        font-size: 30px;
        font-weight: 700;
        line-height: 34px;
        max-width: 280px;
        margin-bottom: 10px
    }
    .intro__header_display-none {
        visibility: visible
    }
    .content__intro {
        padding: 120px 6.3% 153px;
        background-image: url(../../../images/back_intro_red_mobile.png), url(../../../images/back_intro_yellow_mobile.png);
        background-repeat: no-repeat;
        background-position: left 0 bottom 18px, right 9% bottom 41px
    }
    .intro__text {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        max-width: 280px
    }
    .running-line {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff
    }
    .running-line__text {
        font-size: 16px;
        line-height: 18px;
        -webkit-text-stroke-width: .5px
    }
    .content__statystic {
        padding: 62px 6.3%;
        background-image: url(../../../images/back_statystic_red_top_mobile.png), url(../../../images/back_statystic_green_mobile.png), url(../../../images/back_statystic_yellow_mobile.png), url(../../../images/back_statystic_red_bottom_mobile.png);
        background-position: right 0 top 29px, left 14% top 245px, right 7% top 404px, left 4% bottom 25px
    }
    .statystic__questions {
        flex-direction: column
    }
    .statystic__startup {
        max-width: 280px;
        margin-right: 0
    }
    .statystic__startup-header {
        font-size: 20px;
        line-height: 26px;
        max-width: 213px
    }
    .statystic__startup-grid {
        grid-template-columns: 99px 1fr;
        column-gap: 36px;
        row-gap: 2px;
        margin-top: 38px
    }
    .statystic__startup-grid-figures {
        font-size: 18px;
        line-height: 26px
    }
    .statystic__startup-grid-text {
        font-size: 12px;
        line-height: 14px
    }
    .statystic__sites {
        flex-direction: column-reverse;
        margin-top: 21px;
        max-width: 280px
    }
    .statystic__sites-header {
        font-size: 20px;
        line-height: 26px;
        max-width: 185px;
        margin-top: 46px
    }
    .statystic__sites-grid {
        grid-template-columns: 43px 1fr;
        column-gap: 92px;
        row-gap: 2px;
        margin-top: 38px
    }













}
@media screen and (min-width:769px) {
    .header__burger {
        display: none
    }
    .header__close-button {
        display: none
    }
    .header__close-button_visible {
        display: none
    }
    .intro__text_display-none {
        visibility: visible
    }

















}



































